# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Install logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Celery stuff
celerybeat-schedule
celerybeat.pid

# dotenv
.env
.env.*

# Environments
.localenv
.localenv.*
.envrc

# macOS
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Ignore database files
*.db
*.sqlite

# Ignore migrations
migrations/

# Ignore other specific files
*.pyo
*.pyd
*.pdb
*.pyc

# FastAPI specific
*.sqlite3

# Exclude files under server/__pycache__
server/__pycache__/
**/__pycache__/